<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/details.css">
    <link rel="stylesheet" href="/css/pop_up.css">
    <link rel="shortcut icon" type="image/png" href="/images/about.png">
    <title>Post Detail</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    
    <div id="detail-container">
        <p class="additional-info"><%= post.updatedAt %></p>
        <div>
            <h2>Title:</h2>
            <p><%= post.title %></p>
        </div>
        <div>
            <h2>Quantity:</h2>
            <p><%= post.unit %></p>
        </div>
        <div>
            <h2>Price:</h2>
            <p>$<%= post.price %></p>
        </div>
        <div>
            <h2>Description:</h2>
            <p><%= post.description %></p>
            <p class="additional-info">This post is written by <%= post.post_owner_name%></p>
        </div>
        <% if (user._id != post.post_owner) { %>
            <div id="send-message">
                <p>Are you interested in this produce? Send a Message to Produce Owner: <form action="/message" method="POST"><button id="toChatForm">Send Message</button></form></p>
            </div>
            <div id="owner-profile">
                <p>Do you want to see produce owner's profile? Go to: <form><button id="toOwnerProfile">Owner Profile</button></form></p>
            </div>
        <% } %>
    </div>
    <button id="backButton">Back to Feed Page</button>
    
    <%- include('./partials/script.ejs') %>
    <script src="/js/dropdown.js"></script>
    <script src="/js/createChat.js"></script>
</body>
</html>