<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/button.css">
    <link rel="stylesheet" type="text/css" href="/css/pop_up.css">
    <link rel="shortcut icon" type="image/png" href="/images/about.png">
    <title>Update</title>
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <%- include('./partials/pop-up.ejs') %>

    <div class="create-post update-post">
        <form action="/posts/<%= post._id%>/update" method="GET">
            <label class="title_label" for="title">Post title:</label>
            <input type="text" id="title" name="title" placeholder="<%= post.title %>" required>
            <label for="quantity">Quantity:</label>
            <input type="number" id="unit" name="unit" min="1" max="100" placeholder="<%= post.unit %>" required>
            <label for="price">Price:</label>
            <input type="number" id="price" name="price" step="0.01" placeholder="<%= post.price %>" required>
            <label for="description">Description:</label>
            <textarea id="description" name="description" placeholder="<%= post.description %>" required></textarea>
            <button type="button" id="update" data-id="<%= post._id %>">Update</button>
            <p class="error"></p>
        </form>
    </div>

    <%- include('./partials/script.ejs') %>
    <script src="../js/client.js"></script>
    <script src="../js/dropdown.js"></script>
</body>

</html>